li{
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: gray;
    
}
ul{
    margin-top: -35px;
    margin-left: 150px;
}
input{
    width:320px;
    border-radius: 20px;
   height: 30px;
   border-color: grey;
   color: grey;
}
form{
    margin-left: 100px;
    
}
.right img{
    float: right;
    margin-right: 250px;
    margin-top: -300px;
}